@{
    ViewBag.Title = "Home";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}
<style>
    th {
        text-align: center;
    }

    #tbKpi, #tbKpi1 td {
        text-align: center;
        margin-bottom: 0px;
    }

    .result, .target, .kmonth {
        padding: 6px;
    }

    .rmonth {
        padding: 6px !important;
    }

    .modal-body {
        max-height: calc(120vh - 212px);
        overflow-y: auto;
    }
</style>
@Html.Hidden("hdUrl", Url.Action("Action", "Home"))
<div class="panel-group" id="total">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>VST Main Projects</strong>

        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tbMainDefault" class="table table-bordered">
                    <thead>
                        <tr class="tbheader">
                            <th rowspan="3">#</th>
                            <th rowspan="3">Division</th>
                            <th rowspan="3">Dept</th>
                            <th rowspan="3" style="white-space: nowrap;">Title</th>
                            <th rowspan="3">Rep</th>
                            <th rowspan="3">Like</th>
                            <th rowspan="3">Grade</th>
                            <th colspan="15">KPI</th>
                        </tr>
                        <tr>
                            <th rowspan="2">Name</th>
                            <th rowspan="2">Unit</th>
                            <th rowspan="2">Final Target</th>
                            <th colspan="12">Result</th>
                        </tr>
                        <tr>
                            @for (var d = DateTime.Now.AddMonths(-11); d <= DateTime.Now; d = d.AddMonths(1))
                            {
                                <th class="rmonth">@d.ToString("yy/MM")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-10"><strong>New Ideas</strong></div>
                        <div class="col-sm-2">
                            <button id="btnUpload" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-upload"></span>Upload</button>

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tbNewIdea" class="table table-bordered">
                            <thead>
                                <tr class="tbheader">
                                    <th style="white-space: nowrap;">Title</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Rep</th>
                                    <th>Like</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Project</strong>
                </div>
                <div class="panel-body">
                    <div class="row" id="filter">
                        <div class="col-sm-4">
                            <select class="form-control" id="filterDivsion">
                                <option value="">DIVISION</option>
                                @foreach (var div in ViewBag.Divisions)
                                {
                                    <option value="@div.DIVISION.Trim()">@div.DIVISION.Trim()</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="filterDepartment">
                                <option value="">DEPARMENT</option>
                                @foreach (var dep in ViewBag.Departments)
                                {
                                    <option value="@dep.DEPARTMENT.Trim()">@dep.DEPARTMENT.Trim()</option>
                                }
                            </select>

                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="filterGrade">
                                <option value="">GRADE</option>
                                <option value="S">S</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tbNewPrj" class="table table-bordered">
                            <thead>
                                <tr class="tbheader">
                                    <th style="white-space: nowrap;">Title</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Rep</th>
                                    <th>Like</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Modals
{
    <!-- Modal Register Idea -->
    <div id="mdRegIdea" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Suggesting Idea</h4>
                </div>
                <div class="modal-body">
                    <form id="frmRegIdea" role="form">
                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                                <button id="btnSetProject" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span>Make Project</button>
                                <button id="btnRegIdea" class="btn btn-primary" type="submit" data-action="0" data-emp=""><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Division</label></td>
                                    <td>
                                        <select id="division" class="form-control">
                                            @foreach (var div in ViewBag.Divisions)
                                            {
                                                <option value="@div.DIVISION.Trim()">@div.DIVISION.Trim()</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="tdleft">
                                        <label>Dept</label></td>
                                    <td>
                                        <select id="department" class="form-control">
                                            @foreach (var dept in ViewBag.Departments)
                                            {
                                                <option value="@dept.DEPARTMENT.Trim()">@dept.DEPARTMENT.Trim()</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="name" required="required" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Title</label></td>
                                    <td colspan="5">
                                        <input type="text" class="form-control" id="title" required="required" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Detail</label></td>
                                    <td colspan="5">
                                        <textarea id="detail" rows="5" class="form-control" maxlength="500" required="required"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="tdleft">
                                        <label>
                                            Forecasted<br />
                                            Improment</label>
                                    </td>
                                    <td class="tdleft">
                                        <label>Quantiative</label></td>
                                    <td colspan="4">
                                        <input type="text" class="form-control" id="quantiative" maxlength="200" required="required" /></td>
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Qualiative</label></td>
                                    <td colspan="5">
                                        <input type="text" class="form-control" id="qualiative" maxlength="200" required="required" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Comment" id="comment">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="Reply" data-id=""><span class="glyphicon glyphicon-comment"></span>Reply</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" type="button" id="btnLike" data-id=""><span class="glyphicon glyphicon-heart"></span>Like<span class="badge">7</span></button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="tbReply" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Dept</th>
                                    <th>Name</th>
                                    <th>Comment</th>
                                    <th>Date-Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Modal -->
    <!-- Modal Register Project -->
    <div id="mdRegPrj" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 80%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Register Project</h4>
                </div>
                <div class="modal-body">
                    <form id="frmRegPrj" role="form" data-id="">
                        <button id="btnRegPrj" class="btn btn-primary" data-emp="" type="submit" style="float: right"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                        <table id="tbRegPrj" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Dept</label></td>
                                    <td>
                                        <select id="selDept" class="form-control">
                                            @foreach (var dept in ViewBag.Departments)
                                            {
                                                <option value="@dept.DEPARTMENT.Trim()">@dept.DEPARTMENT.Trim()</option>
                                            }
                                        </select>
                                    </td>

                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtName" required="required" />
                                    </td>
                                    <td class="tdleft">
                                        <label>PJT Grade</label></td>
                                    <td>
                                        <select id="pit" class="form-control">
                                            <option value="S">S</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Title</label></td>
                                    <td colspan="5">
                                        <input type="text" class="form-control" id="txtTitle" /></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="tdleft">
                                        <label>KPI</label></td>
                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td colspan="2">
                                        <input type="text" class="form-control" id="txtKPIName" required="required" />
                                    </td>
                                    <td class="tdleft">
                                        <label>Unit</label></td>
                                    <td colspan="2">
                                        <select id="unit" class="form-control">
                                            <option value="U$">U$</option>
                                            <option value="Thousand U$">Thousand U$</option>
                                            <option value="Million U$">Million U$</option>
                                            <option value="mt">mt</option>
                                            <option value="Thousand mt">Thousand mt</option>
                                            <option value="Million mt">Million mt</option>
                                            <option value="%">%</option>
                                            <option value="kg/mt">kg/mt</option>
                                            <option value="kwh/mt">kwh/mt</option>
                                            <option value="mmbtu/mt">mmbtu/mt</option>
                                            <option value="㎛/mt">㎛/mt</option>
                                            <option value="ton/hour">ton/hour</option>
                                            <option value="ton/day">ton/day</option>
                                            <option value="Completion">Completion</option>

                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <div class="table-responsive">
                                            <table id="tbKpi" class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td rowspan="2">
                                                            <select id="selCurent" class="">
                                                                <option value="@(DateTime.Now.AddYears(-1).ToString("yy") + " total")">@(DateTime.Now.AddYears(-1).ToString("yy") + " total")</option>
                                                                <option value="@(DateTime.Now.AddYears(-1).ToString("yy") + " 2nd")">@(DateTime.Now.AddYears(-1).ToString("yy") + " 2nd")</option>
                                                                <option value="@(DateTime.Now.AddYears(-1).ToString("yy") + " 4Q")">@(DateTime.Now.AddYears(-1).ToString("yy") + " 4Q")</option>
                                                            </select>
                                                        </td>
                                                        <td colspan="@ViewBag.Colspan1" id="year">@DateTime.Now.Year</td>
                                                        @if (ViewBag.Colspan2 > 0)
                                                        {
                                                            <td colspan="@ViewBag.Colspan2">@(DateTime.Now.Year + 1)</td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        @for (DateTime i = DateTime.Now; i <= DateTime.Now.AddMonths(11); i = i.AddMonths(1))
                                                        {
                                                            <td>@i.ToString("MM")</td>
                                                        }

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="number" id="txtCurrent" data-id="" class="form-control" min="0" max="100" />
                                                        </td>
                                                        @for (DateTime i = DateTime.Now; i <= DateTime.Now.AddMonths(11); i = i.AddMonths(1))
                                                        {
                                                            <td>
                                                                <input type="text" data-month="@i.ToString("yyyy-MM")" data-id="" class="form-control kmonth"/>
                                                            </td>
                                                        }

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Background</label></td>
                                    <td colspan="5">
                                        <textarea id="background" rows="3" class="form-control" maxlength="500"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="action_plan" rowspan="2" class="tdleft">
                                        <label>
                                            Action<br />
                                            Plan</label>
                                    </td>
                                    <td class="tdleft" colspan="4">
                                        <label>Action</label></td>
                                    <td class="tdleft" colspan="2">
                                        <label>Schedule</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="input-group" style="width: 100%">
                                            <input id="txtAddPlan" type="text" class="form-control" placeholder="Plan">
                                            <div class="input-group-btn">
                                                <button id="btnAddPlan" class="btn btn-primary" type="button">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <input id="txtAddSchedule" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="tdleft">
                                        <label>
                                            Forecasted<br />
                                            Improment</label>
                                    </td>
                                    <td class="tdleft">
                                        <label>Quantiative</label></td>
                                    <td colspan="4">
                                        <input type="text" class="form-control" id="prj_quantiative" maxlength="200" /></td>
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Qualiative</label></td>
                                    <td colspan="5">
                                        <input type="text" class="form-control" id="prj_qualiative" maxlength="200" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <!-- End Modal -->
    <!-- Modal Process Project -->
    <div id="mdProcess" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 90%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Progress Management</h4>
                </div>
                <div class="modal-body">
                    <form id="frmProcess" role="form" data-emp="" data-id="" data-date="">
                        <button id="btnSaveProcess" class="btn btn-primary" type="submit" style="float: right"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                        <table id="tbProcess" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Division</label></td>
                                    <td>
                                        <select id="division1" class="form-control">
                                            @foreach (var e in ViewBag.Divisions)
                                            {
                                                <option value="@e.DIVISION.Trim()">@e.DIVISION.Trim()</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="tdleft">
                                        <label>Dept</label></td>
                                    <td>
                                        <select id="selDept1" class="form-control">
                                            @foreach (var dept in ViewBag.Departments)
                                            {
                                                <option value="@dept.DEPARTMENT.Trim()">@dept.DEPARTMENT.Trim()</option>
                                            }
                                        </select>
                                    </td>

                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtName1" required="required" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Title</label></td>
                                    <td colspan="3">
                                        <input type="text" class="form-control" id="title1" /></td>
                                    <td class="tdleft">
                                        <label>Grade</label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="pit1">
                                            <option value="S">S</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="tdleft">
                                        <label>KPI</label></td>
                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td colspan="2">
                                        <input type="text" class="form-control" id="txtKPIName1" required="required" />
                                    </td>
                                    <td class="tdleft">
                                        <label>Unit</label></td>
                                    <td colspan="2">
                                        <select id="unit1" class="form-control">
                                            <option value="U$">U$</option>
                                            <option value="Thousand U$">Thousand U$</option>
                                            <option value="Million U$">Million U$</option>
                                            <option value="mt">mt</option>
                                            <option value="Thousand mt">Thousand mt</option>
                                            <option value="Million mt">Million mt</option>
                                            <option value="%">%</option>
                                            <option value="kg/mt">kg/mt</option>
                                            <option value="kwh/mt">kwh/mt</option>
                                            <option value="mmbtu/mt">mmbtu/mt</option>
                                            <option value="㎛/mt">㎛/mt</option>
                                            <option value="ton/hour">ton/hour</option>
                                            <option value="ton/day">ton/day</option>
                                            <option value="Completion">Completion</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <div class="table-responsive">
                                            <table id="tbKpi1" class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td rowspan="2"></td>
                                                        <td rowspan="2" id="current"></td>
                                                        <td colspan="12" id="prjYear">@DateTime.Now.Year</td>
                                                    </tr>
                                                    <tr id="kpiMonth">
                                                        @for (DateTime i = DateTime.Now; i <= DateTime.Now.AddYears(1); i = i.AddMonths(1))
                                                        {
                                                            <td>@i.ToString("yyyy")<br />@i.ToString("MM")</td>
                                                        }
                                                    </tr>
                                                    <tr id="trTarget">
                                                        <td>Target</td>
                                                        <td></td>
                                                        @for (DateTime i = DateTime.Now; i <= DateTime.Now.AddYears(1); i = i.AddMonths(1))
                                                        {
                                                            <td>
                                                                <input type="text" data-id="" class="form-control target" data-month="@i.ToString("yyyy-MM")" />
                                                            </td>
                                                        }
                                                    </tr>
                                                    <tr id="trResult">
                                                        <td>Result</td>
                                                        <td></td>
                                                        @for (DateTime i = DateTime.Now; i <= DateTime.Now.AddYears(1); i = i.AddMonths(1))
                                                        {
                                                            <td>
                                                                <input type="text" data-id="" data-month="@i.ToString("yyyy-MM")" class="form-control result" />
                                                            </td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="action_plan1" rowspan="1" class="tdleft">
                                        <label>
                                            Action<br />
                                            Plan</label>
                                    </td>
                                    <td class="tdleft" colspan="1">
                                        <label>Complete</label></td>
                                    <td class="tdleft" colspan="1">
                                        <label>Month</label>
                                    </td>
                                    <td class="tdleft" colspan="2">
                                        <label>Plan</label></td>
                                    <td class="tdleft" colspan="1">
                                        <label>Schedule</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tdleft">
                                        <label>Remark</label></td>
                                    <td colspan="5">
                                        <textarea id="remark" rows="3" class="form-control" maxlength="500"></textarea>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Comment" id="comment1">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="Reply1" data-id=""><span class="glyphicon glyphicon-comment"></span>Reply</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" type="button" id="btnLike1" data-id=""><span class="glyphicon glyphicon-heart"></span>Like <span class="badge">7</span></button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="tbReply1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Dept</th>
                                    <th>Name</th>
                                    <th>Comment</th>
                                    <th>Date-Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
}
